.main {
  width: 300px;
  background: #0a181d;
  color: white;
  font-weight: 600;
}

.month-year {
  text-align: center;
  margin-bottom: 5px;
}

.day-container {
  display: flex;
}

.day {
  flex: 1;
  text-align: center;
}

.month-days-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.month-days {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 30px;
  cursor: pointer;
}
